{% extends "base.html" %}
{% block content %}
    <div class="row">
        
        <div class="col-lg-12 col-sm-12 col-12">
            <div class="jumbotron">
                <h1>Flask Resume Book</h1>
            </div>
        </div>
        <br>
    </div>
    <div class="row">
        <form action="" method=post enctype=multipart/form-data>
            <div class="col-lg-12 col-sm-12 col-12">
                <h4>Upload File</h4>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" name="file"multiple>
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <span class="help-block">
                    Make sure the file is in the format "Firstname_Lastname.pdf"
                </span>
                <button class="btn btn-default" type=submit value=Upload>Upload</button>
            </div>
        </form>
        
    </div>
{% endblock %}